<section class="contact">
  <div class="container contact__container">
    <div class="contact__text">
      <h2 class="title contact__title">Контакты</h2>
      <div class="contact__item">
        <h3 class="contact__subtitle">
          Главный офис
          <span class="tooltip">
            <button
              class="tooltip__btn btn-reset"
              aria-describedby="office"
              aria-label="Описание офиса"
            >
              <svg>
                <use xlink:href="img/sprite.svg#tooltip"></use>
              </svg>
            </button>
            <span class="tooltip__txt" role="tooltip" id="office">
              <span class="visually-hidden">Тултип: </span>
              Адрес и&nbsp;телефон для корреспонденции, инвесторов. Вопросы
              о&nbsp;доставке, качестве обслуживания и&nbsp;товара просьба
              задавать в&nbsp;отдел продаж
            </span>
          </span>
        </h3>
        <a href="tel:78007898989" class="contact__phone">+7 800 789 89 89</a>
        <span class="contact__address"
          >г. Санкт-Петербург, Комсомольская, 43 к1</span
        >
      </div>
      <div class="contact__item">
        <h3 class="contact__subtitle">Отдел продаж</h3>
        <a href="tel:78007893344" class="contact__phone">+7 800 789 33 44</a>
        <span class="contact__address"
          >г. Москва, 1-й Волоколамский проезд, 6к1</span
        >
      </div>
      <ul class="social list-reset">
        <li class="social__item">
          <a
            href="#"
            class="social__link social__link--vk"
            aria-label="Мы во Вконтакте"
          ></a>
        </li>
        <li class="social__item">
          <a
            href="#"
            class="social__link social__link--instagram"
            aria-label="Мы в Инстаграме"
          ></a>
        </li>
      </ul>
    </div>
    <div class="contact__map" id="map"></div>
  </div>
</section>
